.heading{
    text-align: center;
    margin-top: 2%;
    color: red;;
}

.form_container_channels{
    text-align: center;
    margin-top: 2%;
}

.table_container{
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    width: 60%;
}

.table_container > tr, th, td{
    width: auto;
    text-align: center;
    padding: 5px;
}

/* Style for the input box */
.form_container_channels input[type="number"] {
    padding: 1%;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 15%;
    margin-bottom: 0.5%;
    font-size: 150%;
    outline: none;
    transition: border-color 0.3s ease;
}

/* Change border color on focus */
.form_container_channels input[type="number"]:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.2);
}


/* Style for the submit button */
.form_container_channels button {
    padding: 1% 1.5%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 10%;
    transition: background-color 0.3s ease;
    font-size: 1.0vw;
}

/* Change button color on hover */
.form_container_channels button:hover {
    background-color: #45a049;
}